@media only screen and (max-width: 479px) {
    .gridlayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 25vh 65vh;
        grid-template-areas: "home"
            "pic"
            "desc";

    }

    .title {
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        color: white;
        grid-area: title;
    }

    .desc {
        font-size: 18pt;
        text-align: center;
        background-color: lightblue;
        color: white;
        grid-area: desc;
    }


    .pic {
        background-image: url("https://images.pexels.com/photos/1578105/pexels-photo-1578105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    }

    .home {
        background-image: url("https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        grid-area: home;
    }