@media only screen and (max-width: 479px) {
    .gridlayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 35vh 55vh;
        grid-template-areas: "home"
            "pic"
            "desc";
    }

    .title {
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        color: white;
        grid-area: home;
    }

    .subtitle {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .desc {
        font-size: 18pt;
        text-align: center;
        background-color: violet;
        color: white;
        grid-area: desc;
    }


    .pic {
        background-image: url("https://images.pexels.com/photos/414667/pexels-photo-414667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    }

    .home {
        background-image: url("https://images.pexels.com/photos/548375/pexels-photo-548375.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        grid-area: home;
    }