@media only screen and (max-width: 479px) {
    .gridlayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 40vh 20vh 20vh;
        grid-template-areas: "home"
            "desc"
            "pic"
            "contact";

    }

    .title {
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        color: white;
        grid-area: title
    }

    .subtitle {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .desc {
        font-size: 18pt;
        text-align: center;
        background-color: green;
        color: white;
        grid-area: desc;
    }

    .c1 {
        font-size: 24pt;
    }

    .contact {
        text-align: center;
        background-color: green;
        color: white;
        grid-area: contact
    }

    .pic {
        background-image: url("https://images.pexels.com/photos/1407325/pexels-photo-1407325.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")
    }

    .home {
        background-image: url("https://images.pexels.com/photos/1141792/pexels-photo-1141792.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        grid-area: home;
    }